.box{
    width: 100%;
    border: 1px solid rgba(217,217,217,1);
    border-radius: 5px;
    padding: 10px;
    background: #efefef;
    margin-bottom: 10px;
}
.lineTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.lineBottom{
    border-top: 1px solid rgba(217,217,217,1);
    padding-top: 10px;
}